.toastModal {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0.95;
    border-radius: 20px
  }